.navbar {
height: 100px;
}

footer {
	background-color: #ffffff;
	color: #000000;
	padding: 5px;
	text-align: center;
	height: 50px;
	
}

ul {
	list-style: none;
	padding: 0;
	margin: 50px;
}

li {
	display: inline-block;
	margin: 0 10px;
    font-style: oblique;
}

.cp {
height: 470px;

}

.table-container {
	display: flex;
	flex-direction: column;
	border: 1px solid #004347;
	border-radius: 5px;
  }
  
  .table-row {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #004347;
  }
  
  .table-cell {
	flex: 1;
	padding: 10px;
	text-align: center;
	border-right: 1px solid #004347;
  }
  
  .table-cell:first-child {
	border-right: 1px solid #004347;
  }

